html, body {
  height: 100%;
  margin: 0;
  background-color: #F1F1F1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 900px;
}

.main {
  min-height: 900px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin: 0;
}

.layout {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  min-height: 0;
}

.page {
  width: 100%;
  max-width: 900px;

  height: 100%;

  display: flex;
  flex-direction: column;

  min-height: 0;
}