.default {

    width: 30px;
    height: 30px;

    background-color: #16C1C8;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    cursor: pointer;

    padding: 5px;
    margin: 5px;

    width: 13rem;

    font-weight: bold;

}

.pesquisar {
    width: 350px;
    height: 30px;

    display: flex;
    justify-content: flex-start;

    border-radius: 15px;
    border-style: none;
    border-top: transparent;

    color: black;
    color-scheme: unset;

    border-radius: 5px;
    background-color: #ffffff;

    border-bottom: black;

    margin-left: 150px;

}