.default {

    width: 30px;
    height: 30px;

    background-color: #16C1C8;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    cursor: pointer;

    padding: 5px;
    margin: 5px;

    width: 13rem;

    font-weight: bold;

}