.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    
}
.info_card {
    display: flex;
    width: 800px;
    height: auto;
    gap: 20px;
    background-color: aqua;
    
}
.info_box {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: tomato;
  
}

.sub_Box {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: tomato;
}