.container {
    display: flex;
    max-width: 700px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.info_card {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
}