.container {
    display: flex;
    width: 700px;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #FFFFFF;

}

.card {
    
}

.info {
    display: flex;
    background-color: #ffffff;
    padding: 15px;

    border-color: black;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 15px;

    margin-top: 15px;

}

.display {
    margin-right: 20px;
}

.name {
    font-size: larger;

}

.details {
    margin-right: 20px;
}

