.footerContainer {
    width: 100%;
    background-color: #7CD7CF;
    margin: 0px;
}

.itemBox {
    display: flex;
    gap: 30px;

    padding: 10px;
    margin: 30px;
    justify-content: center;
}

.logo {
    width: 40%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contacContainer {
    width: 20%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid rgba(255, 255, 255, 0.70);

    backdrop-filter: blur(8px);

}

.suportContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: none;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);

    backdrop-filter: blur(8px);


}


.devContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}